services:
  # Drop-in redis replacement.
  # Insanely fast cache implementation
  garnet:
    image: 'ghcr.io/microsoft/garnet'
    ulimits:
      memlock: -1
    ports:
      - '6379:6379'
    volumes:
      - garnet-data:/data

  nats:
    image: nats:latest
    container_name: nats
    ports:
      - '4222:4222'
      - '8222:8222'
    command: '--js --http_port 8222'
    restart: unless-stopped

volumes:
  garnet-data:
